.footer {
    padding: 25px 30px;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--primary);
    color: var(--white);
    display: grid;
    /* align-items: center; */
    gap: 10px 40px;
    grid-template-columns: 1fr auto auto;
}

.footer a:hover {
    color: var(--gray-light);
}

@media (max-width: 765px) {
	.footer {
        grid-template-columns: 1fr;
    }
}
